@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  background: linear-gradient(to bottom, #A9C9A6, #E6FAFC);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.links {
  position: relative;
}

.links:hover {
  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #9CFC97;
  }
}

@layer utilities {
  .w-calc {
    width: calc(100% + 32px);
  }
}

@media (min-width: 768px) {
  .icons:hover {
    &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: attr(data-tooltip);
      font-size: 12px;
      background-color: #E6FAFC;
      height: 25px;
      width: fit-content;
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 10px;
    }
  }
}

