@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  /* background-color: #E6FAFC; */
  height: 100%;
  background: linear-gradient(to bottom, #A9C9A6, #E6FAFC);
}

@layer utilities {
  .w-calc {
    width: calc(100% + 32px);
  }
}